PORT=8081
NODE_ENV=development

# Database
MONGO_URI=mongodb://localhost:27017/auth_db

# Auth
JWT_SECRET=Yf4DZV4fvhSRMiukzdMq2bBDvCEMiJ6ahfOVT3KKuaw
REFRESH_SECRET=Yf4DZV4fvhSRMiukzdMq2bBDvCEMiJ6ahfOVT3KKuaw

# Mail (MailHog)
MAIL_HOST=localhost
MAIL_PORT=1025
